<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inicial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css')}}">
    <title>EDITAR</title>
</head>
<body>
<div class="container">
    <h1>EDITAR USUARIOS</h1>
    <form class="formu" method="post" action="">
        <div class='formuario'>
        <label>CODIGO:</label>
        <input type="number" name="codigo" value="{{ usuario [0] }}" disabled>
        <label>NOMBRE</label>
        <input type="text" placheloder ="ingrese su nombre" name="nombre" value="{{ usuario [1] }}"><br>
        <label>APELLIDO</label>
        <input type="text" placheloder="ingrese su apellido"  name="apellido" value="{{ usuario [2] }}"><br>
        <label>EMAIL</label>
        <input type="email" placheloder="ingrese su correo"  name="email" value="{{ usuario [3] }}"><br>
        <label>DIRECCION</label>
        <input type="text" placheloder="ingrese su direccion" name="direccion" value="{{ usuario [4] }}"><br>
        <label>TELEFONO</label>
        <input  placheloder="ingrese su telefono" type="number" name="telefono" value="{{ usuario [5] }}"><br>
        <label>USUARIO</label>
        <input type="text" placheloder="ingrese su usuario" name="usuario" value="{{ usuario [6] }}"><br>
        <label>CONTRASEÑA</label>
        <input type="password" placheloder="ingrese su contraseña" name="contraseña" value="{{ usuario [7] }}"><br>
        <button type="submit">Registrar</button>
    </form>






</div>

</body>

</html>