<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inicial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css')}}">
</head>
<body>
<div class="container">
    <h1>REGISTRAR USUARIOS</h1>
    <form method="post" action="/registrar">
        <div class='formuario'>
        <label>NOMBRE</label>
        <input type="text" placheloder="ingrese su nombre" name="nombrePer"><br>
        <label>APELLIDO</label>
        <input type="text" placheloder="ingrese su apellido" name="apellidoPer"><br>
        <label>EMAIL</label>
        <input type="text" placheloder="ingrese su correo" name="correoPer"><br>
        <label>DIRECCION</label>
        <input type="text" placheloder="ingrese su direccion" name="direccionPer"><br>
        <label>TELEFONO</label>
        <input type="text" placheloder="ingrese su telefono" name="telefonoPer"><br>
        <label>USUARIO</label>
        <input type="text" placheloder="ingrese su usuario" name="usuarioPer"><br>
        <label>CONTRASEÑA</label>
        <input type="password" placheloder="ingrese su contraseña" name="contrasenaPer"><br>
        <button type="submit">Registrar</button>
    </form>






</div>

</body>

</html>