<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIAR SESION</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/css/sesion.css')}}">
    <link rel="stylesheet" href="../static/css/sesion.css">

</head>
<body>
    <main>
        <div class="container">
            <h2> Iniciar Sesion</h2>
            <form action="/" method="">
                <div class="input-group">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" name="txtusuario" required>
                </div>
                <div class="input-group">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="contraseña" name="txtcontrasena" required>
                    <a href="recuperar_contraseña.html" class="forgot-passaword">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="input-group">
                    <button type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div> 
    </main>
    
</body>
</html>
 